:root {
    --fontPrincipal: "Quicksand", sans-serif;
    --primaryColor: #90a68d;
    --secondaryColor: #6f806d;
    --detailColor: #fefae0;
    --mainColor: #f5ebe0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--fontPrincipal);
    font-weight: 450;
}

.header {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.75);
    z-index: 1;

    img {
        padding: 2rem 0;
        border-radius: 50%;
    }

    .header__apresentation {

        .h1 {
            font-size: 2.2rem;
        }

        .h2 {
            font-size: 1.5rem;
            font-weight: 450;
        }

        .line {
            border: 1px solid var(--detailColor);
            margin: 1rem auto;
        }
    }

    .header__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-top: 1rem;

        .info {
            font-size: 1.2rem;
            color: var(--fontColor);

            ul {
                padding: .5rem;
            }

            li {
                list-style-type: none;
                font-weight: 500;

            }

            .social {
                a {
                    width: 9rem 2rem;
                    font-size: 1.3rem;
                    display: inline-block;
                    margin: 0 .5rem;
                    border-radius: 5px;
                    background-color: var(--secondaryColor);
                    color: var(--detailColor);
                    font-weight: 500;
                    text-decoration: none;
                    padding: .6rem 1.1rem;
                    box-shadow: -6px 6px 7px -6px rgba(0, 0, 0, 0.75);
                }

                /* a:focus {
                    outline: 2px solid var(--secondaryColor);
                    outline-offset: 2px;
                    background-color: var(--detailColor);
                    color: var(--secondaryColor);
                } */

                i {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .formation {
        margin-top: 2.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;

        dl {
            padding: .5rem;
            margin: 0 auto;

            dt {
                font-weight: bold;
            }

            dd {
                font-weight: 500;
            }
        }
    }
}

/* Fim do header */

.main {
    background-color: var(--mainColor);

    h1 {
        margin-top: 2rem;
        text-align: center;
    }

    p {
        width: 90%;
        margin: 1rem auto;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

.mainLine{
    width: 80%;
    height: 1px;
    border: 1px solid var(--secondaryColor);
    margin: 2rem auto;
}


.main__certifictes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

    article {
        /* flex-grow: 1; */
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        padding: .5rem;
        border-radius: 10px;
        background-color: var(--secondaryColor);
        box-shadow: -6px 6px 7px -6px rgba(0, 0, 0, 0.75);
        text-align: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        p {
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--detailColor);
            margin-top: .5rem;
        }
    }
}

.hours {
    text-align: center;
    margin: .8rem auto 0;

    p {

        /* border: 1px solid red; */
        margin: 0 auto;
        margin-top: .2rem;
        line-height: 1.6rem;
    }
}

.showAllBtn {
    display: block;
    width: 15rem;
    margin: 1.5rem auto;
    padding: .6rem 1.1rem;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    color: var(--detailColor);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.footer {
    background-color: var(--primaryColor);
    height: 15dvh;
    font-size: 1rem;
    text-align: center;

    p {
        padding-top: 1rem;
        margin: 0 auto;
        width: 90%;
    }
}