:root {
    --fontPricipal: "Quicksand", sans-serif;
    --fontColorBtn: #FFF;
    --primaryColor: #90a68d;
    --secondaryColor: #6f806d;
    --detailColor: #e6e5e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: var(--primaryColor);
    box-shadow: -6px 6px 7px -6px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontPricipal);
    text-align: center;
    line-height: 2rem;

    img {
        padding: 2rem 0;
        border-radius: 50%;
    }

    .header__apresentation {
        line-height: 2.5rem;

        .h1 {
            font-size: 2.2rem;
        }

        .h2 {
            font-size: 1.5rem;
            font-weight: 450;
        }

        .line {
            border: 1px solid var(--detailColor);
            margin: 1rem auto;
        }
    }

    .header__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 450;

        .info {
            font-size: 1.2rem;
            color: var(--fontColor);

            ul {
                padding: .5rem;
            }

            li {
                list-style-type: none;
            }

            .social {
                a {
                    width: 9rem;
                    display: inline-block;
                    margin: 0 .5rem;
                    border-radius: 5px;
                    background-color: var(--secondaryColor);
                    color: var(--detailColor);
                    font-weight: 450;
                    text-decoration: none;
                    padding: .6rem 1.1rem;
                    box-shadow: -6px 6px 7px -6px rgba(0, 0, 0, 0.75);
                }

                i {
                    font-size: 1.6rem;
                }
            }
        }
    }
    
    .formation {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 450;

        dl {
            padding: 1rem;
            margin: 0 auto;

            dt {
                font-weight: bold;
            }

            dd {
                margin-bottom: 1rem;
            }
        }
    }
}



.container2 {
    border: 1px solid red;
    background-color: var(--detailColor);
}

/* Fim do header */